{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}

		<div class="container">		
			<div class="tr-content">
				<div class="row">
					<div class="col-sm-8 offset-sm-2">
						<div class="login-page">		
							<div class="login-form">
								<h2>{% if form.instance.social_url %}Update{% else %}Create{% endif %} Social Link</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
								<form method="POST" id="homeland-loginform" name="desilog-loginform">

									{% csrf_token %}

									{% for hidden in form.hidden_fields %}
										{{ hidden }}
									{% endfor %}

									<div class="form-group">
										{% render_field form.social_site class="form-control" placeholder=form.social_site.label %}
										{% for error in form.social_site.errors %}
											<span class="help-block">{{ error }}</span>
										{% endfor %}
									</div>

                                    <div class="form-group">
										{% render_field form.social_url class="form-control" placeholder=form.social_url.label %}
										{% for error in form.social_url.errors %}
											<span class="help-block">{{ error }}</span>
										{% endfor %}
									</div>

									<div class="login-links clearfix">
										<div class="login-submit">
										<input type="submit" value="Save" class="button-primary" id="wp-submit" name="wp-submit">
										</div>
									</div>
								</form>
							</div>
						</div><!-- /.login-page -->
					</div>
				</div><!-- /.row -->
			</div><!-- /.tr-content -->						
		</div><!-- /.container -->


{% endblock %}