{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <h3>Are you sure you want to delete {{ object.title }}?</h3>
                <form method="POST">
                    {% csrf_token %}
                    <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Cancel</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}