{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}

		<div class="container">		
			<div class="tr-content">
				<div class="row">
					<div class="col-md-8 col-lg-9 tr-sticky">
						<div class="theiaStickySidebar">
							<div class="breadcrumbs">
								<a href="{% url 'home' %}">Home</a>
								<span>/&nbsp;</span>Blog Details
							</div>										
							<div class="blog-post">
								<div class="blog-post-content">
									<div class="blog-list-desc">
										<span class="categories"><a href="http://themecss.com/wp/Desilog/category/graphic-design/">Graphic Design</a></span>
										<h3>{{ object.title }}</h3>
										<label>
											<span>{{ object.author }}&nbsp;‐</span>
											{{ object.created_at }}
											<span class="blog-comments">
												<i class="fa fa-comment-o"></i>
												<a href="http://themecss.com/wp/Desilog/super-natural-british/#comments">
												0</a>
											</span>
										</label>
									</div>

									<!-- Post Thumbnail -->
									<div class="blog-image">
                                        {% if object.image %}
										    <img src="{{ object.image.url }}" alt="Image">
                                        {% endif %}
									</div>
									<div class="blog-text">
										{{ object.content|safe }}
									</div>
								</div>
														
								<!-- Tags -->
								<ul class="blog-tags clearfix">
									<li><span>Tags</span></li>
                                    {% for tag in object.tags.all %}
									    <li><a href="#">{{ tag.name }}</a></li>
                                    {% endfor %}
								</ul>

													
                                <div class="blog-share">
                                    <ul class="clearfix">
                                        <li>
                                            <a href="http://www.facebook.com/share.php?u={{ request.build_absolute_uri }}" target="_blank" class="facebook"><i class="fa fa-facebook fa-lg"></i>Facebook</a>
                                        </li>
                                        <li>
                                            <a href="http://twitter.com/share?url={{ request.build_absolute_uri }}" target="_blank" class="twitter"><i class="fa fa-twitter fa-lg"></i>Twitter</a>
                                        </li>
                                        <li>
                                            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" target="_blank" class="gplus"><i class="fa fa-google-plus fa-lg"></i>Google+</a>
                                        </li>
                                        <li>
                                            <a href="http://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}" target="_blank" class="pinterest"><i class="fa fa-pinterest fa-lg"></i>Pinterest</a>
                                        </li>
                                    </ul>
                                </div><!-- Share Post -->

								<div class="post-link-blog clearfix">
									<div class="prev-post clearfix">
										<a href="{{ previous_post.get_absolute_url }}" rel="prev">Previous Article</a>
										<span>
                                            {% if previous_post.image %}
											    <a href="#"><img src="{{ previous_post.image.url }}" alt="{{ previous_post.title }}" class="img-fluid"></a>
                                            {% else %}
											    <a href="#"><img src="images/theater-hannover-43x39.jpg" alt="{{ previous_post.title }}" class="img-fluid"></a>
                                            {% endif %}
										</span>
										<label><a href="{{ previous_post.get_absolute_url }}">{{ previous_post }}</a></label>
									</div>
								</div><!-- /.post-link-blog -->

								<div class="blog-author clearfix">
                                    {% if object.author.profile_image %}
                                        <img alt="Image" src="{{ object.author.profile_image.url }}">
                                    {% else %}
									    <img alt="Image" src="http://1.gravatar.com/avatar/1986f5007ea888ec7ba6542025be0310?s=64&amp;r=g">
                                    {% endif %}
									<div class="author-desc">
										<h4><a class="orange-color" href="{{ object.author.get_absolute_url }}">{{ object.author }}</a></h4>
										<ul class="author-socials clearfix">
                                            {% for link in object.author.usersociallink_set.all %}
											    <li><a href="{{ link.social_url }}"><i class="fa fa-{% if link.social_site == 'website' %}globe{% else %}{{ link.social_site }}{% endif %} fa-lg"></i></a></li>
                                            {% endfor %}
										</ul>
										<p>{% if object.author.biography %}{{ object.author.biography }}{% else %}Biography not added yet!{% endif %}</p>
									</div>
								</div><!-- /.blog-author -->
														
								<div class="blog-other-post clearfix">
									<h5>You may also like</h5>
									<div class="row">
                                        {% for post in recommended_post %}
                                            <div class="col-md-6 col-lg-4">
                                                <div class="masonry-item">
                                                    <div class="blog-mask">
                                                        <div class="blog-audio">
                                                            <a href="{{ post.get_absolute_url }}" class="blog-format-image-hover">
                                                                <i class="fa fa-external-link fa-3x"></i>
                                                            </a>
                                                            <span class="blog-format-audio">{{ post.tags.first.name }}</span>
                                                            {% if post.image %}
                                                                <a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid"></a>
                                                            {% else %}
                                                                <a href="#"><img src="{% static 'images/new-swedish-263x238.jpg' %}" alt="{{ post.title }}" class="img-fluid"></a>
                                                            {% endif %}
                                                        </div>
                                                    </div>

                                                    <div class="blog-list-desc">
                                                        {% if post.category.count %}
                                                            {% for category in post.category.all %}
                                                                <span class="categories"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></span>
                                                            {% endfor %}
                                                        {% else %}
                                                            <span class="categories"><a href="#">Uncategorized</a></span>
                                                        {% endif %}
                                                        <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                                                        <label>
                                                            <span>{{ post.author }}&nbsp;‐</span>
                                                            {% if post.publication_date %}
                                                                {{ post.publication_date }}
                                                            {% else %}
                                                                {{ post.created_at }}
                                                            {% endif %}
                                                        </label>
                                                        <p>{{ post.content|truncatewords:15|striptags }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

									</div><!-- /.row -->
								</div><!-- Other Posts -->
									
								<div class="contact-form comment-form clearfix">
									<h4>Leave a Comment</h4>
									<form class="contact-form" name="contact-form" method="POST" action="{% url 'blog:comment_create' slug=object.slug %}">
                                        {% csrf_token %}

                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}

									    <div class="row">
									        <div class="col-lg-12">
									            <div class="form-group">
                                                    {% render_field form.message class="form-control" placeholder=form.message.label rows="7" %}
									                {% for error in form.message.errors %}
                                                        <span class="help-block">{{ error }}</span>
                                                    {% endfor %}
									            </div>             
									        </div>
                                            {% if not request.user.is_authenticated %}
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        {% render_field form.name class="form-control" placeholder=form.name.label required="" %}
                                                        {% for error in form.name.errors %}
                                                            <span class="help-block">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        {% render_field form.email class="form-control" placeholder=form.email.label required="" %}
                                                        {% for error in form.email.errors %}
                                                            <span class="help-block">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        {% render_field form.website class="form-control" placeholder=form.website.label %}
                                                        {% for error in form.website.errors %}
                                                            <span class="help-block">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
									    </div>
									    <div class="form-group text-center">
									        <button type="submit" class="wpcf7-form-control wpcf7-submit">Post a Message</button>
									    </div>
									</form><!-- /.contact-form -->	

                                    <div class="comment-section">
                                        {% for comment in post.comment_set.all %}
                                            {% if not comment.reply %}
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        {#                                                        <p class="text-secondary text-center">15 Minutes Ago</p>#}
                                                                <p class="text-secondary text-center">{{ comment.created_at }}</p>
                                                            </div>
                                                            <div class="col-md-10">
                                                               <div class="clearfix"></div>
                                                                <p>{{ comment.message }}<p>
                                                                    <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
        {#                                                            <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>#}
                                                               </p>
                                                            </div>
                                                        </div>
                                                        {% for reply in comment.replies.all %}
                                                            <div class="card card-inner">
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-md-2">
                                                                            <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
        {#                                                                    <p class="text-secondary text-center">15 Minutes Ago</p>#}
                                                                            <p class="text-secondary text-center">{{ reply.created_at }}</p>
                                                                        </div>
                                                                        <div class="col-md-10">
                                                                            <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a></p>
                                                                            <p>{{ reply.message }}<p>
                                                                                <a class="float-right btn btn-outline-primary ml-2">  <i class="fa fa-reply"></i> Reply</a>
        {#                                                                        <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>#}
                                                                           </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>


                                </div><!-- /.contact-form -->
							</div>							
						</div><!-- /.theiaStickySidebar -->
					</div>

					{% include 'template_snippets/sidebar.html' %}

				</div><!-- /.row -->

			</div><!-- /.tr-content -->						
		</div><!-- /.container -->

{% endblock %}